{{ define "index" }}

{{ template "header" }}

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-10 px-0">
      <h1 class="display-4 fst-italic">Вертолет Ingenuity совершил свой первый полет на Марсе.</h1>
      <p class="lead my-3">Марсоход Perseverance передал на Землю первые кадры взлета и посадки вертолета Ingenuity,
        в ходе которой летательный аппарат поднялся на высоту в три метра над поверхностью планеты.
        Об этом участники миссии рассказал на онлайн-пресс-брифинге в Лаборатории реактивного движения (JPL) NASA. (ТАСС)</p>
      <p class="lead mb-0"><a href="https://nauka.tass.ru/nauka/11186541" class="text-white fw-bold">Читать далее...</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">SpaceX</strong>
          <h3 class="mb-0">SpaceX выиграла контракт NASA.</h3>
          <div class="mb-1 text-muted">Апр 17</div>
          <p class="card-text mb-auto">Компания создаст лунный посадочный модуль для высадки астронавтов.</p>
          <a href="https://www.rbc.ru/technology_and_media/17/04/2021/6079fd479a794779ca8f6744" class="stretched-link">Читать далее...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Марс-2020</strong>
          <h3 class="mb-0">Ingenuity на поверхности</h3>
          <div class="mb-1 text-muted">Апр 10</div>
          <p class="mb-auto">Вертолёт NASA Ingenuity спущен на поверхность Марса.</p>
          <a href="https://3dnews.ru/1036487/marsianskiy-vertolyot-ingenuity-vigrugen-na-poverhnost-krasnoy-planeti-i-gotovitsya-k-nochyovke" class="stretched-link">Читать далее...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Актуальное о космосе
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title">В поисках жизни: самые смелые будущие космические миссии</h2>
        <p class="blog-post-meta">26 Сен, 2020 by <a href="https://www.iguides.ru/main/other/v_poiskakh_zhizni_samye_smelye_budushchie_kosmicheskie_missii/">Iguides</a></p>

        <p>Концепт миссии к Энцеладу, ледяной луне Сатурна.</p>
        <hr>
        <p>
          Если бы у вас были несколько миллиардов долларов и группа самых талантливых ученых и инженеров в области космоса, куда бы вы отправились?
          На самом деле на этот вопрос нет неправильного ответа. Даже если вы сузите круг до внешней части Солнечной системы — планет, лун, колец и других
          космических обломков — <strong>вам точно никогда не надоест их исследовать</strong>. Но у этого изобилия есть ожидаемый недостаток: у ученых мало шансов когда-либо
          совершить все миссии, о которых они могут мечтать. Однако продумывание этих миссии в любом случае является важной частью исследования космоса,
          и ученые делают это регулярно.
        <blockquote>
          Во время недавнего виртуального собрания Группы по оценке внешних планет (OPAG), научно-консультативной группы,
          сосредоточенной на исследовании всего, что находится за поясом астероидов, ученые разобрали с аудиторией три различных концептуальных
          исследовательских миссий, которые затем попадут в Десятилетний обзор планетарных наук, которым будет руководствоваться НАСА для выбора
          миссий с 2023 по 2032 годы.
        </p>
        <h2>Концепт миссии к Энцеладу</h2>
        <p>Первая остановка — ледяной спутник Сатурна, Энцелад, который является одной из главных целей ученых для поиска жизни в Солнечной системе.</p>
        <h3>Океан на Энцеладе</h3>
        <p>Миссия Кассини, завершившаяся в 2017 году, обнаружила убедительные доказательства того, что из его ледяной оболочки выплескиваются соленые гейзеры,
          что, во-первых, подтверждает, что у Энцелада есть подповерхностный океан, а, во-вторых, значительно упрощает сбор проб из него..</p>
        <h3>Куда отправятся космические корабли</h3>
        <p>Во всех трех концептуальных исследованиях рассматривалась категория миссий, которую НАСА называет флагманской — такие проекты,
          как марсоходы Curiosity и Perseverance, миссия Galileo к Юпитеру или миссия Cassini к Сатурну.
          Это крупные миссии с космической стоимостью («Настойчивость» обошлась НАСА в 2,7 миллиарда долларов) и развернутыми научными программами,
          а это означает, что НАСА определенно не сможет выполнить все три задачи одновременно. Но даже если ни одна из этих конкретных миссий не полетит,
          они все равно могут определить, куда отправятся космические корабли в будущие десятилетия, просто дразня тем, что можно изучить в космосе.
          Итак, давайте рассмотрим самые смелые научные миссии во внешние области Солнечной системы.</p>
        <ul>
          <li>Поиски жизни на Энцеладе.</li>
          <li>Полет к Нептуну и Тритону.</li>
          <li>К Плутону и дальше.</li>
        </ul>
        <p>Через десятилетие с Земли будут запущены одни из самых грандиозных миссий за всю историю космических полетов.</p>
      </article><!-- /.blog-post -->

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div>

    <div class="col-md-4">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="fst-italic">О сайте</h4>
        <p class="mb-0">На сайте представлена информация о космических миссиях в период с 1960-х по 2020 г.
          Сайт является частью примера организации архитектуры <em>клиент-сервер</em>. Данные о космических миссиях хранятся в таблицах базы данных MySql,
          после запроса обрабатываются на локальном сервере, разработанным при помощи языка Golang, и отправляются на данный сайт,
          который представляет <em>клиент</em> в текущей архитектуре. Взаимодействие <em>База данных - Сервер</em>
          организовано при помощи приложения OpenServer 5.3.8.
        </p>
      </div>

      <div class="p-4">
        <h4 class="fst-italic">Текущие миссии</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="/mars2020/">Марс 2020</a></li>
          <li><a href="/newHorizons/">Новые Горизонты</a></li>
          <li><a href="/akatcuki/">Акацуки (PLANET-C)</a></li>
          <li><a href="/voyager2/">Вояджер-2</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="fst-italic">Контакты: </h4>
        <ol class="list-unstyled">
          <li><a href="https://github.com/settings/profile">GitHub</a></li>
          <li><a href="https://www.instagram.com/phogramz/">Instagram</a></li>
          <li><a href="https://www.facebook.com/phogramz/">Facebook</a></li>
        </ol>
      </div>
    </div>

  </div><!-- /.row -->

</main><!-- /.container -->

{{ template "footer" }}

{{ end }}
