{{ define "mission" }}
{{ template "header" }}

  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">{{.Name}}</h1>
      <p class="lead my-4">Основные данные:</p>
      <p class="lead my-3">
            Название миссии: {{.Name}}.
        <br>Дата запуска: {{.StartData}}.
        <br>Миссия завершена: {{.FinishData}}.
        <br>Продолжительность: {{.DayDuration}} дней.
        <br>Основная цель миссии: {{.Target}}.
        <br>Ракета-носитель: {{.CarrierRocket}}.
        <br>Команда/Оборудование: {{.Crew}}.
        <br>Страна: {{.CustomerCountry}}.
        <br>Космодром: {{.LaunchSite}}.
        <br>{{if eq .Success true}} Миссия успешна!
            {{ else }} Миссия не удалась!
            {{ end }}
        <br>{{if ne .CauseFailure "-"}}
              Причина неудачи: {{.CauseFailure}}
            {{ end }}
      </p>
    </div>
  </div>

{{ template "footer" }}

{{ end }}
